@model ProyectoDSWToolify.Models.Producto

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="categoria.descripcion" class="control-label"></label>
                @Html.DropDownListFor(model => model.categoria.idCategoria, (SelectList)ViewBag.Categorias, "Seleccione una Categoria", new { @class = "form-control" })
                <span asp-validation-for="categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="proveedor" class="control-label"></label>
                @Html.DropDownListFor(model => model.proveedor.idProveedor, (SelectList)ViewBag.Proveedores, "Seleccione un Proveedor", new { @class = "form-control" })
                <span asp-validation-for="proveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stock" class="control-label"></label>
                <input asp-for="stock" class="form-control" />
                <span asp-validation-for="stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="file" class="control-label"></label>
                <input asp-for="file" class="form-control" type="file" />
                <span asp-validation-for="file" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaRegistro" class="control-label"></label>
                <input asp-for="fechaRegistro" class="form-control" type="date"/>
                <span asp-validation-for="fechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="estado" /> @Html.DisplayNameFor(model => model.estado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

