@model ProyectoDSWToolify.Models.Proveedor

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Actualizar";
}

<h1>Actualizar</h1>

<h4>Proveedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Actualizar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idProveedor" class="control-label"></label>
                <input asp-for="idProveedor" class="form-control" readonly/>
                <span asp-validation-for="idProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ruc" class="control-label"></label>
                <input asp-for="ruc" class="form-control" />
                <span asp-validation-for="ruc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="razonSocial" class="control-label"></label>
                <input asp-for="razonSocial" class="form-control" />
                <span asp-validation-for="razonSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-label"></label>
                <input asp-for="telefono" class="form-control" />
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccion" class="control-label"></label>
                <input asp-for="direccion" class="form-control" />
                <span asp-validation-for="direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="distrito" class="control-label"></label>
                @Html.DropDownListFor(model => model.distrito.idDistrito, (SelectList)ViewBag.distritos, "Seleccione un distrito", new { @class = "form-control" })
                <span asp-validation-for="distrito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaRegistro" class="control-label"></label>
                <input asp-for="fechaRegistro" class="form-control" />
                <span asp-validation-for="fechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="estado" /> @Html.DisplayNameFor(model => model.estado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
